.bg-mattBlackLight {
  background-color: #303337; }

.text-mattBlackLight {
  color: #303337; }

.bg-mattBlackDark, body {
  background-color: #212121; }

.text-mattBlackDark {
  color: #212121; }

.bg-mattGray {
  background-color: #878d8d; }

.text-mattGray, body {
  color: #878d8d; }

.bg-mattRed {
  background-color: #ec6271; }

.text-mattRed {
  color: #ec6271; }
