@function rem($value) {
    @return unquote(($value/1px)/16+"rem");
}


$easeTime: 0.25s;
$margin-top: 56px;


$colors: (
  "mattBlackLight": "#303337",
  "mattBlackDark": "#212121",
  "mattGray": "#878d8d",
  "mattRed": "#ec6271"
);

@each $colorName, $colorValue  in $colors {
    .bg-#{$colorName} {
        background-color: #{$colorValue};
    }
    .text-#{$colorName} {
        color : #{$colorValue};
    }
}

body {
    @extend .bg-mattBlackDark;
    @extend .text-mattGray; 
}

.wrapper{
     margin-top: rem($margin-top);
    .sideMenu {
        position: fixed;
        top:0;
        bottom: 0;
        left:0;
        margin:rem($margin-top) auto auto; 
        width: rem(200px);
        border: 1px solid red;
        transition: all ease $easeTime;
        transform: translateX(-100%);
        z-index: 2000;
    }
    .content{
        width: 100%;
        margin-left: rem(0px);
        transition: all ease $easeTime;
    }
 }

 @media (min-width:992px)
 {
     .wrapper
     {
         .sideMenu{
             transform: translateX(0);
         }
         .content{
             margin-left: rem(200px);
         }
        &.active{
            .sideMenu{
                width: rem(80px);
            }
            .content{
                margin-left: rem(80px);
            }
        }
    }
 }

 .nav-link{
     display: block;
     white-space: nowrap;
     .icon{
         margin-right: rem(4px);
         font-size: rem(30px);
         vertical-align: middle;
         height: rem(32px);
         width: rem(32px);
         @extend .text-mattGray;
         display: inline-flex;
         justify-content: center;
         align-items: center;
     }
 }