@function rem($valie) {
    @return unquote(($value/1px)/16+"rem");
}


$easeTime: 0.25s;
$margin-top: 56px;


$colors: (
  "mattBlackLight": "#303337",
  "mattBlackDark": "#212121",
  "mattGray": "#878d8d",
  "mattRed": "#ec6271"
);

@each $colorName, $colorValue  in $colors {
    .bg-#{$colorName} {
        background-color: #{$colorValue};
    }
    .text-#{$colorName} {
        color : #{$colorValue};
    }
}

body {
    @extend .bg-mattBlackDark;
    @extend .text-mattGray; 
}

